<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fuelq" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/main_topic"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FuelQ"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity android:name=".GetFuelDetails" />
        <activity android:name=".DeleteConfirmation" android:parentActivityName=".ViewOwnerFuelDetails"/>
        <activity android:name=".AddFeedback" android:parentActivityName=".FullOrExit"/>
        <activity android:name=".FullOrExit" android:parentActivityName=".ViewQueueFuelDetails"/>
        <activity android:name=".ViewFuelDetails" android:parentActivityName=".ReqFuelVolume"/>
        <activity android:name=".ReqFuelVolume" android:parentActivityName=".ViewQueueFuelDetails"/>
        <activity android:name=".ViewQueueFuelDetails" android:parentActivityName=".CustomerHome"/>
        <activity android:name=".ViewQueueDetails" android:parentActivityName=".ShedOwnerHome"/>
        <activity android:name=".ViewOwnerFuelDetails" android:parentActivityName=".ShedOwnerHome"/>
        <activity android:name=".CustomerHome" android:parentActivityName=".CustomerLogin"/>
        <activity android:name=".ShedOwnerHome" android:parentActivityName=".CustomerLogin"/>
        <activity android:name=".UpdateFuelDetails" android:parentActivityName=".ViewOwnerFuelDetails"/>
        <activity android:name=".AddFuelDetails" android:parentActivityName=".ViewOwnerFuelDetails"/>
        <activity android:name=".OwnerRegistration" android:parentActivityName=".MainRegistration"/>
        <activity android:name=".CustomerRegistration" android:parentActivityName=".MainRegistration"/>
        <activity android:name=".MainRegistration" android:parentActivityName=".CustomerLogin"/>
        <activity android:name=".CustomerLogin" android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity" android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>